{% extends 'xadmin/views/form.html' %}
{% load i18n %}
{% load url from future %}
{% load xadmin_tags %}

{% block extrahead %}
<style type="text/css">
.event-post {
  margin-bottom: 60px;
}
.event-post-title {
  margin-bottom: 15px;
}
.event-post-meta {
  margin-bottom: 20px;
  color: #999;
}
</style>
<script type="text/javascript">
function onBridgeReady(){
    WeixinJSBridge.call('hideOptionMenu');
    $('#top-nav').hide();
}
if (typeof WeixinJSBridge == "undefined"){
    if( document.addEventListener ){
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
    }else if (document.attachEvent){
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
    }
}else{
    onBridgeReady();
}
</script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="event-post">
  <h3 class="event-post-title">{{ event.title }}</h3>
  <p class="event-post-meta">{{ event.public_time }} 由 <a href="#">{{ event.author }}</a> 发布</p>
  {{ event.content|safe }}
</div>

{{ block.super }}
{% endblock %}

