{% extends 'xadmin/base.html' %}
{% load i18n xadmin_tags %}
{% load url from future %}
{% load firstof from future %}

{% block top-nav %}{{ title }} | {{ site_title }}{% endblock %}

{% block content %}
  {% block messages %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissable{% if message.tags %} {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message|safe }}
    </div>
    {% endfor %}
  {% endif %}
  {% endblock messages %}

  {{ content }}
{% endblock content %}
