{% extends 'xadmin/base.html' %}
{% load i18n xadmin_tags %}
{% load url from future %}
{% load firstof from future %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block body %}
  <div id="content-block" class="col-sm-12" style="padding-top: 20px;">
    {% block messages %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dismissable{% if message.tags %} {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message|safe }}
      </div>
      {% endfor %}
    {% endif %}
    {% endblock messages %}

    {% block content %}
    {{ content }}
    {% endblock %}
  </div>
{% endblock body %}
